<!DOCTYPE html>

<html>
    <head>
        <title>Demo</title>
        <% if (locals.error) { %>
        <div class="error">
            <%= error %>
        </div> <% } %>
    </head>
    <body>
        <h1>Salut la planète</h1>