<% include header %>

<form action="/" method="POST">
    <div class"field">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>

    </div>
    <button type="submit">Envoyer</button>
</form>

<% include footer %>